/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

.no-data {
  font-size: 30px;
  padding: 16px;
}
